<div class="container2">
	<div class="center_content">
		<div class="left_nav">
			<ul>
			</ul>
		</div>
		<div class="right_content">
			<div class="logoer">
				<%= image_tag 'jinqixinzuo.gif'%>				
			</div>
			<div class="span10">
				<% @videos.each do |video1| %>
			<div class="span3" style="margin-top: 20px; margin-bottom: 20px;">
				<%= link_to image_tag(video1.vimage.url),video_path(video1),class: "video-image",target: "_blank"%>
        <br />
        <br />
			  <%= link_to video1.name,video_path(video1),class: "align-center",target: "_blank"%>

			</div>
			<% end %>
			</div>
			
		</div>
	</div>
</div>