<div id="myElement">Loading the player...</div>
<script>jwplayer.key="AhPghhyxrmMHSrawRrilmRMpiKjPRCP2YmyB9g==";</script>
<script type="text/javascript">
    jwplayer("myElement").setup({
        file: "uploads/video/cars.mp4",
        image: "uploads/video/cars.png"
    });
</script>

