h3 通知公告
p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;艺术院最近将举行歌舞大赛，从<span>10月20日到11月30日</span>，所以舞蹈室都不外借
p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;艺术院最近将举行<span>歌舞大赛</span>，从10月20日到11月30日，所以舞蹈室都不外借。
p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;艺术院最近将举行歌舞大赛，从10月20日到11月30日，所以<span>舞蹈室都不外借</span>。
h2 
  a> href="#" For more