div class="container2"
  div class="center_content"
    div class="left_nav"
      ul
        li = link_to "实验设备", devices_path
        li = link_to "预约情况",'#'
        li = link_to "使用情况",'#'
	div class="right_content"
	  div class="logoer"
	    = image_tag 'device.gif'
	  br
      = simple_form_for @dorder,:validate => true,url: dorders_path,:method => :post do |f|
        = f.input :applicant
        = f.input :tel, placeholder: '正在使用的联系方式'
        = f.input :usetime
        = f.input :usereason, as: :text, input_html: { style: "height: 50px;"}
        = f.input :device_name,input_html: {value: @device.name}
        = f.input :keeper
        = f.submit "提交", class: "btn"
      p style="width:80%;font-size:8px;"
        |注：为了加强我院设备类固定资产的管理，提高使用效率，保证教学工作与学生
        |活动的顺利进行，使用过程中应严格按照操作规范操作，使用不当造成的设备遗
        |失或损坏，将依照学院相关规定赔偿！
