h4
  i.icon-list-alt
  span.text-info #{link_to t('system.notice'),admin_notices_path} | #{yield :state}
  = link_to "添加通知",new_admin_notice_path, class: "pull-right"
ul class="nav nav-tabs"
  li
    = link_to "未审核",admin_notices_path 
  li 
    = link_to "审核通过",published_list_admin_notices_path
  li
    = link_to "未通过",banned_list_admin_notices_path



